### 1. What are data structures, and why are they important?
Data structures are ways to organize data so it can be used and accessed efficiently.

### 2. Explain the difference between mutable and immutable data types with examples.
Mutable types (like lists) can change, while immutable types (like tuples and strings) cannot change after creation.

### 3. What are the main differences between lists and tuples in Python?
Lists are mutable and can be modified, while tuples are immutable and fixed.

### 4. Describe how dictionaries store data.
Dictionaries store data as key-value pairs using a hash table.

### 5. Why might you use a set instead of a list in Python?
use a set instead of a list when needed unique values and faster membership checks.

### 6. What is a string in Python, and how is it different from a list?
A string is an immutable sequence of characters, while a list is a mutable sequence of elements.

### 7. How do tuples ensure data integrity in Python?
Tuples ensure data integrity because they cannot be changed once created.

### 8. What is a hash table, and how does it relate to dictionaries in Python?
A hash table stores data using hashed keys, and Python dictionaries are built on hash tables.

### 9. Can lists contain different data types in Python?
Yes, lists can contain different data types.

### 10. Explain why strings are immutable in Python.
Strings are immutable to improve performance, security, and memory efficiency.

### 11. What advantages do dictionaries offer over lists for certain tasks?
Dictionaries are better than lists when you need fast lookups using meaningful keys instead of indexes.

### 12. Describe a scenario where using a tuple would be preferable over a list.
A tuple is preferable when wants data that must not change, like coordinates or configuration values.

### 13. How do sets handle duplicate values in Python?
Sets automatically remove and ignore duplicate values.

### 14. How does the "in" keyword work differently for lists and dictionaries?
In lists the "in" keyword checks for values, while in dictionaries it checks for keys.

### 15. Can you modify the elements of a tuple? Explain why or why not.
No, we cannot modify tuple elements because tuples are immutable.

### 16. What is a nested dictionary, and give an example of its use case?
A nested dictionary is a dictionary inside another dictionary, used to store structured data like student records.

### 17. Describe the time complexity of accessing elements in a dictionary.
Accessing elements in a dictionary typically has O(1) time complexity.

### 18. In what situations are lists preferred over dictionaries?
Lists are preferred when you need ordered, index-based, or sequential data.

### 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Dictionaries are considered unordered because they store items based on hash values, not positions.

### 20. Explain the difference between a list and a dictionary in terms of data retrieval.
A list retrieves data by index, while a dictionary retrieves data by key.

In [1]:
#1. Write a code to create a string with your name and print it.
name = "Kunal"
print(name)

Kunal

In [2]:
#2. Write a code to find the length of the string "Hello World".
print(len("Hello World"))

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
print("Python Programming"[:3])

Pyt

In [4]:
#4. Write a code to convert the string "hello" to uppercase.
print("hello".upper())

HELLO

In [5]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
print("I like apple".replace("apple", "orange"))

I like orange

In [6]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
nums = [1, 2, 3, 4, 5]
print(nums)

[1, 2, 3, 4, 5]

In [7]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [9]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [10]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [11]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [12]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
print(min((10, 20, 5, 15)))

5

In [14]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
print(('dog', 'cat', 'rabbit').index("cat"))

1

In [15]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [16]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'a', 'c', 'b'}

In [17]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [18]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [19]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
print({1, 2, 3} | {3, 4, 5})

{1, 2, 3, 4, 5}

In [20]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
print({1, 2, 3} & {2, 3, 4})

{2, 3}

In [21]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d = {"name": "Kunal", "age": 25, "city": "GUJ"}
print(d)

{'name': 'Kunal', 'age': 25, 'city': 'GUJ'}

In [22]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d = {'name': 'John', 'age': 25}
d['country'] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {'name': 'Alice', 'age': 30}
print(d["name"])

Alice

In [24]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [26]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [27]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it, and print the result.
import random
lst = random.sample(range(1, 100), 5)
lst.sort()
print(lst)

[24, 25, 35, 40, 83]

In [28]:
#28. Write a code to create a list with strings and print the element at the third index.
lst = ["apple", "banana", "mango", "orange"]
print(lst[3])

orange

In [29]:
#29. Write a code to combine two dictionaries into one and print the result.
d1 = {"a": 1}
d2 = {"b": 2}
d3 = {**d1, **d2}
print(d3)

{'a': 1, 'b': 2}

In [30]:
#30. Write a code to convert a list of strings into a set.
lst = ["apple", "banana", "mango"]
print(set(lst))

{'mango', 'banana', 'apple'}